/* Projeto */
#ItemSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;     

    margin-top: 50pt;
    margin-bottom: 25pt;

    /* scale: 0.85; */
}

.projectText{
    display: flex;    
    padding: 10pt;
    border-radius: 15pt;
    user-select: none;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-left: 50pt;
    margin-right: 50pt;

    font-size: 15pt;

    font-family: 'Open Sans', sans-serif;
}

.projectImg{
    height: 310pt;
    border-radius: 15pt;
    margin-bottom: 15pt;
    
    user-select: none;
}

.projectLink{
    font-family: 'Roboto', sans-serif;
}

.projectLink:hover{
    color: #364aff;

    
}


#github{
    font-size: 20pt;
    margin-bottom: 5pt;
}

/* Exit */

#exitDiv{
    display: flex;
    justify-content: start;
    align-items: start;  
    padding: 5pt;
    padding-right: 9pt;  

    background-color: #444444;
    border-radius: 5pt;
    width: 35pt;

    margin: 15pt;
    
    margin-bottom: -35pt;
}

#exitIcon{
    color: #ffffff;    
    font-size: 20pt;
}

#exitIcon:hover{
    color: #364aff;    
}


#ProjectLink{
    background-color: #444444;
    border-radius: 5pt;

    padding-top: 5pt;
    padding-bottom: 5pt;
    padding-right: 10pt;
    padding-left: 5pt;
}

#ItemSectionBlank{
    display: flex;

    padding-right: 100pt;
    padding-left: 90pt;

}

#ItemDivBlank{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

    height: 850px;
    width: 832.594px;;
}