.HamburguerNav{
    display: flex;      
    margin-top: -5pt;    
}

.CustomColor{
    background-color: #252525;
}

.NavCollapse{    
    font-family: 'Roboto' , sans-serif;
    font-size: 20px;
    transition: 0.5s;
    justify-content: space-between;
}

.Toggle{
    border: none;
}

.navbar-toggler:focus,
.navbar-toggler.activer,
.navbar-toggler.icon:focus {    
    box-shadow: none;
}


.HamIcon{
    color: #fff;
    font-size: 25pt;
}

.HamIconDark{
    color: #232323;
    font-size: 25pt;
}

#HamIcon:active{
    color: aquamarine
}

.NavbarList{        
    font-size: 15pt;
}

.NavbarList a:active{
    color: aquamarine
}



