.SobreSection{
    display: flex;    
    justify-content: space-around;
    align-items: center;
    font-family: 'Roboto', sans-serif;   
    margin-bottom: 7%;
    margin-top: 3%;

    transition: 0.5s;
}

/* Response (media queries) */
@media only screen and (max-width : 480px) {

    .SobreSection{
    display: flex;    
    justify-content: space-around;
    align-items: center;
    font-family: 'Roboto', sans-serif;   
    margin-bottom: 7%;
    margin-top: 20%;
    }

    .mobileTxtChange{
        text-align: center;
        transition: 0.5s;
    }
}
    

@media only screen and (min-width: 768px) {
    .imgArticle{        
        margin-left: 15pt;
    }

    .SobreSection{
    display: flex;    
    justify-content: space-around;
    align-items: center;
    font-family: 'Roboto', sans-serif;   
    margin-bottom: 7%;
    margin-top: 20%;
    }

    .mobileTxtChange{
        text-align: start;
        transition: 0.5s;
    }
}

@media only screen and (min-width: 1440px) {
.SobreSection{
    display: flex;    
    justify-content: space-around;
    align-items: center;
    font-family: 'Roboto', sans-serif;   
    margin-bottom: 7%;
    margin-top: 10%;

    transition: 0.5s;
    }

}

/* ////// */

.photo{
    border: none;
    border-radius: 20pt 20pt 30pt 30pt;
    width: 200pt
}


/* Titulos e Textos */
.textArticle>p {     
    font-size: 14pt;    
}


/* Estilizações específicas */
.atelie{
    text-decoration: none;
    color: aliceblue;
}

.atelie:hover{
    color: #f9ffc7;
}

#htmlTxt:hover{
    color: #E34F26;    
}

#reactTxt:hover{
    color: #61DAFB;    
}

#angularTxt:hover{
    color: #DD0031;    
}
