*{
    margin: 0;
    padding: 0;
    
    background-color: #252525;
    background-image: url(assets/img/wallpaper.png);    
    background-size: 500pt;
    color: rgb(255, 255, 255);

    transition: 0.5s;
    
}

