/* Desktop */
@media only screen and (min-width: 1024px) {   

    /* página de error */

    .sectionError{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: -20pt;        
    }

    #error{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; 
        text-align: center;      
        
        margin-left: 5pt;
        margin-right: 5pt;        
    }

    .ButtonsError{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;        
    }

    /* Barra de Navegação */
    #navUL{
        display: flex;
    }

    #burgerMenu{
        display: none;
    }
    
    /* Modal */
    .ModalProject{
    position: absolute;    
        
    top: -80pt;    
    left: -300pt;
                       
    width: 950pt;
    height: 660pt;
            
    scale: 0.60;    
    }


    #ItemSectionBlank{
        position: absolute;

        bottom: 150pt;
        right: 400pt;

        scale: 1.7;
        
        
    }

/* Sobre */

    .SobreSection{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;        

        margin-left: 15pt;
        margin-right: 15pt;
        
        margin-bottom: -2pt;
    }

    #photo{
        display: flex;
        justify-content: center;
        align-items: center;    
        
        margin-left: 0pt;    
        margin-top: 50pt;
    }

    #TxtDiv{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;      
        user-select: none;
        text-align: center;
        
        margin-top: 25pt;        

        scale: 1;
    }    

    #iconsDiv{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        transition: 0.5s;

    }

    .UnderLine{
        display: flex;
        margin-bottom: -15pt;
        margin-top: -15pt;                
    }

    /* Projetos */
    #mobileTitle{
        display: none;
    }

    #projectMain{
        display: flex;
        flex-direction: column;                                       
    }

    #projectSection{
        align-items: center;
        justify-content: center;      
        margin-top: 40pt;
        margin-right: 55pt;
        margin-left: 55pt;        

        margin-bottom: 30pt;                
    }

    .olProject{
        display: flex;
        flex-direction: column;                
        flex-wrap: nowrap;
        height: 100%;        

        margin-left: 50pt;
        margin-right: 50pt;        
    }


    /* PjCard */
    #ItemSection{
        display: flex;
        padding: 15pt;

        margin-top: -50pt;
        
    }

    #pjCard{                
        display: flex;                     

        scale: 0.90;
    }

    #pjCardBlank{    
    display: flex;
        
    background-color: #2e2e2e;
    margin-top: 50pt;
    padding: 60pt;
    padding-left: 55pt;
    padding-right: 25pt;
    padding-bottom: 25pt;
    height: 190pt;
    width: 200pt;
    scale: 0.93;
    border: #313131 solid 0.5pt;
        
    list-style: none;
    border-radius: 0pt 5pt 5pt 0pt;
        }

    #exitLinkD{
        display: flex;
    }

    #exitDiv{
        display: none;
    }

    /* ProjectCard */
    #LinkM{
        display: none;
    }

}

/* Tablets */
@media only screen and (min-width: 768px) and (max-width: 1023px) {

    /* página de error */

    .sectionError{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 50pt;        
    }

    #error{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; 
        text-align: center;      
        
        border-radius: 0;
    }

    .ButtonsError{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;        
    }

    /* Barra de Nav */
    #navUL{
        display: flex;
    }

    #burgerMenu{
        display: none;
    }
    
    /* Sobre */

    .SobreSection{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;      
        
        margin-bottom: 5pt;
    }

    #photo{
        display: flex;
        justify-content: center;
        align-items: center;    
        
        margin-left: 0pt;    
        margin-top: 50pt;
    }

    #TxtDiv{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;      
        user-select: none;
        text-align: center;
        
        margin-left: 0pt;
        margin-right: 0pt;
        margin-top: -19pt;

        scale: 0.9;
    }    

    #iconsDiv{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        transition: 0.5s;

    }

    .UnderLine{
        display: none;
    }


    /* Projetos */

   #projectMain{
        display: flex;
        flex-direction: column;                                       
    }

    #projectSection{
        display: flex;
        flex-direction: column;
        padding-top: 150pt;
        padding-bottom: 150pt;                
    }

    .olProject{
        display: flex;
        flex-direction: column;                
        flex-wrap: nowrap;
        margin-top: -100pt;        
        margin-bottom: -100pt;

    }
    

    #modalButtonD{
        display: none;
    }

        #mobileTitle{
        display: none;
    }
}

/* Mobile */
@media only screen and (max-width: 767px) {

    /* página de error */

    .sectionError{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 50pt;        
    }

    #error{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; 
        text-align: center;      
        
        border-radius: 0;
    }

    .ButtonsError{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;        
    }

    /* Barra de Navegação */
    #navUL{
        display: none;
    }    

    #burgerMenu{
        display: flex;
        
    }    

    /* Página Inicial */
    .HomeSection{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        margin-bottom: 70pt;
    }

    /* Sobre */

    .SobreSection{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;      
        
        margin-bottom: 5pt;
    }

    #photo{
        display: flex;
        justify-content: center;
        align-items: center;    
        
        margin-left: 0pt;    
        margin-top: 50pt;
    }

    #TxtDiv{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;      
        user-select: none;
        text-align: center;
        
        margin-left: 0pt;
        margin-right: 0pt;
        margin-top: -19pt;

        scale: 0.9;
    }

    

    .UnderLine{
        display: flex;
        justify-content: center;
        align-items: center;
        
        margin-top: -15pt;
        margin-bottom: 15pt;        

        margin-left: 90pt;
        margin-right: 90pt;
        
    }


    #iconsDiv{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        transition: 0.5s;

    }


    
    /* Contato */
    #contactSection{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;      
        margin-top: 100pt;
        
        margin-bottom: 130pt;
    }


    /* Projetos */

    #mobileTitle{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-left: 50pt;
    }

    #projectMain{
        display: flex;
        flex-direction: column;                
        align-items: center;
        justify-content: center;
        margin-right: 50pt;
        margin-left: -10pt;        
    }

    #projectSection{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;      
        margin-top: 40pt;


        margin-bottom: -50pt;
                
    }

    .footerPJ{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 50pt;
    }

    .olProject{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;

        padding-left: 50pt;
        padding-right: 50pt;

        margin-left: 50pt;
    }

    /* PjCard */
    #modalButtonD{
        display: none;
    }

    #pjList{
        display: flex;        
        flex-direction: column;
        align-items: center;    
        scroll-behavior: smooth;
        overflow-x: hidden;       
        overflow-y: hidden;         
                
        margin-top: -100pt;
    }

    .imgBk{    
    height: 100pt;
    margin-left: 10pt;
    margin-right: 10pt;
    border-radius: 5pt;    
    }

    #pjTitle{
        text-align: center; 
        scale: 0.8;
    }

    #pjCard{                
        display: flex;
        flex-direction: column;
        margin-left: -50pt;        
        
        scale: 0.90;
    }

    #LinkM{
        display: flex;
        margin-top: -15pt;
    }


    /* Projeto */
    #ItemSection{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        text-align: center;        
        margin-top: 100pt;        

        scale: 1;                                                    
    }

    #ItemSection h3{
        text-decoration: underline;
    }        

    #ItemSection p{
        font-size: 15pt;        

        padding-left: 80pt;
        padding-right: 80pt;
    }



    #prodMain{
        display: flex;        
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
                
        margin-bottom: 50pt;                
        margin-left: 110pt;        

        width: 30%;
                
    }

    .projectImg{
        display: flex;
        justify-content: center;
        align-items: center;

        scale: 0.5;           
        border-radius: 0;

        padding-left: 10pt;                        

        margin-top: -35pt;        
    }

    #exitDiv{
        display: flex;
        justify-content: start;
        align-items: start;

        margin-bottom: -80pt;
        margin-right: 280pt;

        scale: 0.9;
    }

}

@media screen and (max-width: 320px){
    
    /* Pj Card */

    .imgBk{    
    height: 90pt;
    margin-left: 10pt;
    margin-right: 10pt;
    border-radius: 5pt;    
    }


    #pjCard{
        scale: 1
    }   
    
    #pjTitle{
        scale: 0.8;
    }

    #pjList{
        display: flex;
        width: 170pt;


        left: 40pt;
        top: 80pt;
        gap: 15pt;
    }



}