/* Desktop */
@media only screen and (min-width: 1024px) {   
    /* Barra de Navegação */
    #navUL{
        display: flex;
    }

    #burgerMenu{
        display: none;
    }
    
    /* Modal */
    .ModalProject{
    position: fixed;    
        
    top: -80pt;    
    right: 10pt;
                       
    width: 950pt;
    height: 660pt;
            
    scale: 0.70;

    font-size: 50pt;
    }

    /* Sobre */

    .UnderLine{
        display: none;
    }

    /* Projetos */
    #mobileTitle{
        display: none;
    }


    /* PjCard */
    #ItemSection{
        display: flex;
        padding: 15pt;

        margin-top: -50pt;
        
    }

    #exitLinkD{
        display: flex;
    }

    #exitLinkM{
        display: none;
    }

    /* ProjectCard */
    #LinkM{
        display: none;
    }

}

/* Tablets */
@media only screen and (min-width: 768px) and (max-width: 1023px) {

    /* Barra de Nav */
    #navUL{
        display: flex;
    }

    #burgerMenu{
        display: none;
    }

    /* Sobre */

    .UnderLine{
        display: none;
    }


    /* Projetos */

    #modalButtonD{
        display: none;
    }

        #mobileTitle{
        display: none;
    }
}

/* Mobile */
@media only screen and (max-width: 767px) {

    /* Barra de Navegação */
    #navUL{
        display: none;
    }    

    #burgerMenu{
        display: flex;
        
    }

    /* Página Inicial */
    .HomeSection{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        margin-bottom: 70pt;
    }

    /* Sobre */

    .SobreSection{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;      
        
        margin-bottom: 5pt;
    }

    #photo{
        display: flex;
        justify-content: center;
        align-items: center;    
        
        margin-left: 0pt;    
        margin-top: 50pt;
    }

    #TxtDiv{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;      
        user-select: none;
        text-align: center;
        
        margin-left: 0pt;
        margin-right: 0pt;
        margin-top: -19pt;

        scale: 0.9;
    }

    

    .UnderLine{
        display: flex;
        justify-content: center;
        align-items: center;
        
        margin-top: -15pt;
        margin-bottom: 15pt;        

        margin-left: 90pt;
        margin-right: 90pt;
        
    }


    #iconsDiv{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        transition: 0.5s;

    }


    
    /* Contato */
    #contactSection{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;      
        margin-top: 100pt;
        
        margin-bottom: 130pt;
    }


    /* Projetos */

    #mobileTitle{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    /* PjCard */
    #modalButtonD{
        display: none;
    }

    #pjList{
        display: flex;        
        flex-direction: column;
        align-items: center;                

        scroll-behavior: smooth;
        overflow-x: hidden;       
        overflow-y: hidden; 
                
        margin-right: 27pt;
    }

    .imgBk{    
    height: 100pt;
    margin-left: 10pt;
    margin-right: 10pt;
    border-radius: 5pt;    
    }

    #pjTitle{
        text-align: center; 
        scale: 0.8;
    }

    #pjCard{                
        display: flex;
        flex-direction: column;
        
        scale: 0.90;
    }

    #LinkM{
        display: flex;

        margin-top: -15pt;
    }


    /* Projeto */
    #ItemSection{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        text-align: center;

        scale: 0.9;                
                                         
    }

    #prodMain{
        display: flex;        
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        
        margin-bottom: 50pt;                
        margin-left: 110pt;        

        width: 30%;
                
    }

    .projectImg{
        display: flex;
        justify-content: center;
        align-items: center;

        scale: 0.68;           
        border-radius: 0;

        padding-left: 10pt;
                        
        margin-top: -45pt;
    }

    #exitDiv{
        display: flex;
        justify-content: start;
        align-items: start;

        margin-bottom: -80pt;
        margin-right: 280pt;

        scale: 0.9;
    }

}

@media screen and (max-width: 320px){
    
    /* Pj Card */

    .imgBk{    
    height: 90pt;
    margin-left: 10pt;
    margin-right: 10pt;
    border-radius: 5pt;    
    }


    #pjCard{
        scale: 1
    }   
    
    #pjTitle{
        scale: 0.8;
    }

    #pjList{
        width: 170pt;

        position: absolute;

        left: 40pt;
        top: 80pt;
        gap: 15pt;
    }



}