.ModalProject{     
    display: flex;
    justify-content: center;    
    align-items: space-around;
    margin: 0;
    padding: 0;

    background-color: #333333;
    position: fixed;    
    right: 0;    
    left: 0;
        
    scale: 0.75;

    animation: fadeIn 1s;
}

.ModalProjectD{
    display: flex;
    justify-content: center;    
    align-items: space-around;
    margin: 0;
    padding: 0;
    background-color: white;
    position: fixed;    
    right: 0;    
    left: 0;
        
    scale: 0.75;

    animation: fadeIn 1s;

}


/* Celular Pequeno */
@media (width: 320px) {
    .ModalProject,
    .ModalProjectD{         
    margin: -5.5rem;    
    width: 370pt;            
    scale: 0.60;
}
};

/* Celular Médio */
@media (width: 375px){
    .ModalProject,
    .ModalProjectD{     
    margin: -8rem; 
    width: 450pt;    
    scale: 0.60;
}
}

/* Celular Maior */
@media (width: 425px) {
    .ModalProject,
    .ModalProjectD{                         
    margin: -5.5rem;    
    width: 450pt;
    scale: 0.60;
}
}

/* Animação */
@keyframes fadeIn{
    0%{
        opacity: 0;        
    }
    100%{
        opacity: 1;        
    }
}

/* Detalhe ao Abrir o Modal */
.Overblur{
    background-color: #1a1a1a;    
}

/* Exit */
#ModalExitDiv{
    display: flex;
    justify-content: start;
    align-items: start;
    padding: 5pt;            
    margin: 10pt;
}

#exitIcon{
    color: #ffffff;    
    font-size: 30pt;
}

#exitIcon:hover{
    color: #364aff;    
}
