.ModalProject{     
    display: flex;
    justify-content: center;    
    align-items: space-around;
    margin: 0;
    padding: 0;

    background-color: #333333;    
    position: fixed;    
    right: 0;    
    left: 0;
        
    scale: 0.75;

    animation: fadeIn 1s;
}

/* Animação */
@keyframes fadeIn{
    0%{
        opacity: 0;        
    }
    100%{
        opacity: 1;        
    }
}

/* Detalhe ao Abrir o Modal */
.Overblur{
    background-color: #1a1a1a;    
}

/* Exit */
#ModalExitDiv{
    display: flex;
    justify-content: start;
    align-items: start;
    padding: 5pt;            
    margin: 10pt;
}

#exitIcon{
    color: #ffffff;    
    font-size: 30pt;
}

#exitIcon:hover{
    color: #364aff;    
}
