/* Este se remete ao Projeto Aberto */

/* Projeto */
.ItemSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;
    
}

.projectText{
    display: flex;    
    padding: 10pt;
    border-radius: 15pt;
    user-select: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 50pt;
    margin-right: 50pt;
    font-size: 15pt;
    font-family: 'Open Sans', sans-serif;
}

.projectImg{
    height: 310pt;
    border-radius: 15pt;
    margin-bottom: 15pt;
    
    user-select: none;
}

#projectLink{
    font-family: 'Roboto', sans-serif;    
}

#github{
    font-size: 20pt;
    margin-bottom: 5pt;
}


/* Exit */
#exitDiv{
    display: flex;
    justify-content: start;
    align-items: start;  
    padding: 5pt;
    padding-right: 9pt;      
    border-radius: 5pt;
    width: 35pt;
    /* margin: 15pt;    ; */
    margin-bottom: -35pt;
}

#exitIcon{
    color: #ffffff;    
    font-size: 20pt;
}

#exitIcon:hover{
    color: #364aff;    
}


/* Blank */
.blankConteudo{
    display: flex;       
    flex-direction: column;

    width: 50%;
    height: 50%;
}

.blankImage{
    max-height: 250pt;
    max-width: 350pt;    
    background-color: #202020;
}

.blankDetails{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;    
}
