#projectMain{
    display: flex;
    flex-direction: column;     
}

#pjList{    
    display: flex;
    flex-direction: row;    
    align-items: center;

    scale: 0.8;

    scroll-behavior: smooth;
    overflow-x: auto;       
    overflow-y: hidden;      
}

#pjListBlank{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    margin-top: 5pt;            
}

#pjList::-webkit-scrollbar{
    background-color: #5b5b5b00;    
    height: 6pt;
}

#pjList::-webkit-scrollbar-thumb{
    background-color: #676767;
    border-radius: 50pt;        
}

.customColor{
    background-color: #2e2e2e;
    padding: 10pt;  
    transition: 0.5s;
}   

.customColor:hover{
    scale: 0.87;
}

#pjCardBlank{    
    display: flex;
    flex-direction: column;
    
    user-select: none;
    background-color: #2e2e2e;
    padding: 60pt;
    padding-left: 55pt;
    padding-right: 25pt;
    padding-bottom: 25pt;
    width: 190pt;
    scale: 0.9;
    border: #313131 solid 0.5pt;
        
    list-style: none;
    border-radius: 0pt 5pt 5pt 0pt;
}

#BlankButton{
    display: flex;    
    justify-content: center;    
    align-items: center; 
    flex-direction: column;        
    user-select: none;

    width: 50pt;    
    margin-bottom: -20pt;
    margin-right: 35pt;
    height: 15pt;    
}

.blankImg{
    width: 150pt;
    height: 90pt;

    background-color: #5b5b5b3f;
    border: 1px solid #ffffff;   
    margin-top: 5pt;     
    margin-right: 30pt;
    
}

.BlankH3{
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-top: -50pt;    
    margin-left: -35pt;    
    
}

#pjDetails{
    display: flex;
    flex-direction: column;    

    justify-content: center;
    align-items: center;

    gap: 15pt;
}


.categoria{
    display: flex;
    justify-content: center;
}

.break-line-list {
    display: flex;    
    /* flex-wrap: wrap; */
    list-style: none;
    padding: 0;    
    margin: 0;
    /* scale: 0.98; */
    /* max-height: 24.2440rem; */
}


#listOverflow::-webkit-scrollbar {
    width: 0.5em;    
}

#listOverflow::-webkit-scrollbar-track {
    background-color: #ffffff;    
}

#listOverflow::-webkit-scrollbar-thumb {
    background-color: #727272;    
}

