/* Se Remete apenas a Lista dos Projetos */
#projectMain{
    display: flex;
    flex-direction: column;
}

@media only screen and (min-width: 320px) and (max-width: 375px) {
    .ProjectSection{
        margin-top: 50pt;
    }

    .ProjectList{
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
        width: 100%;        
        overflow: hidden;        

        margin-bottom: 50pt;
    }
} 

@media only screen and (min-width: 320px) and (max-height: 612px) {
    .ProjectSection{
        margin-top: 50pt;
    }

    .ProjectList{
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
        width: 100%;
        overflow: hidden;        

        margin-bottom: 50pt;
    }
} 


@media only screen and (min-width: 400px) and (max-width: 768px) {
        .ProjectSection{
        margin-top: 50pt;
    }

    .ProjectList{
        flex-direction: column;
        flex-wrap: nowrap;
        text-align: center;
        width: fit-content;
        overflow: hidden;

        margin-bottom: 50pt;
    }
}  


@media screen and (min-width: 1024px) {
    .ProjectSection{
        margin-top: 100pt;
    }

    .ProjectList{
        flex-direction: row;
        flex-wrap: nowrap;
        text-align: center;
        width: fit-content;        

        margin-bottom: 50pt;
    }
} 


/* Card */
.customColor{
    display: flex;    

    background-color: #2e2e2e;
    padding: 10pt;

    transition: 0.5s;
}   
.customColor:hover{
    border: aliceblue solid 0.5pt;
}

.customColorD{
    display: flex;    

    background-color: white;
    padding: 10pt;

    transition: 0.5s;
}

.customColorD:hover{
    border: #2e2e2e solid 0.5pt;
}


/* CardBlank */
#pjCardBlank{    
    display: flex;
    flex-direction: column;
    
    user-select: none;
    background-color: #2e2e2e;
    padding: 60pt;
    padding-left: 55pt;
    padding-right: 25pt;
    padding-bottom: 25pt;
    width: 190pt;
    scale: 0.9;
    border: #313131 solid 0.5pt;
        
    list-style: none;
    border-radius: 0pt 5pt 5pt 0pt;
}


#BlankButton{
    display: flex;    
    justify-content: center;    
    align-items: center; 
    flex-direction: column;        
    user-select: none;

    width: 50pt;    
    margin-bottom: -20pt;
    margin-right: 35pt;
    height: 15pt;    
}

.blankImg{
    width: 150pt;
    height: 90pt;

    background-color: #5b5b5b3f;
    border: 1px solid #ffffff;   
    margin-top: 5pt;     
    margin-right: 30pt;
    
}

.BlankH3{
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-top: -50pt;    
    margin-left: -35pt;    
    
}


#pjDetails{
    display: flex;
    flex-direction: column;    
    justify-content: center;
    align-items: center;
    gap: 15pt;
}

.listOverflow::-webkit-scrollbar {    
    height: 15px;
    scrollbar-width: 25pt;
}

.listOverflow::-webkit-scrollbar-track {    
    height: 10px;
    background-color: aliceblue;    
    border-radius: 10pt;         
}


.listOverflow::-webkit-scrollbar-thumb {    
    border-radius: 10pt;
    background-color: #727272;
    
}

.LoadingDiv{
    display: flex;
    flex-direction: column;
    padding-top: 15rem;
}

