
#expList{    
    display: flex;
    flex-direction: column;
}

#expObj{        
    list-style-type: none;
}

#expTitle{
    display: flex;
    flex-direction: row;
    gap: 25pt;
}

#expDetails{
    display: flex;
    flex-direction: row;

    gap: 5pt;
}

#expIcon{
    display: flex;    
    justify-content: start;
    align-items: start;
    margin-top: 5pt;
}