#sectionError{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.error{
    background-color: #2e2e2e;        
    color: aliceblue;
    border-radius: 1rem;  

    animation: borderLight 3s infinite alternate;
}

.errorWhite{
    background-color: #ffffff;
    color: #2e2e2e;
    border-radius: 1rem;

    animation: borderLight 3s infinite alternate;
}

.errorContainer{
    padding-top: 15rem;
    width: 20rem;
}

.lineColor{
    opacity: 1;
    color: aliceblue;    
}

.lineColorD{
    opacity: 1;
    color: #2e2e2e;    
}

@keyframes borderLight {
    from {
        border: 0.3rem solid #2e2e2e;        
    }
    to {
        border: 0.3rem solid #8d3939;        
    }
    
}

#errorbtn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5pt;
    flex-direction: row;
            
    font-size: 19pt;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    
}

#errorbtn p {
    margin-bottom: 1pt;
    font-size: 18pt;
}

#spanError{    
    font-size: 20pt;    
}

.ButtonsError{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30pt;
}

.toastContainer{
    margin-top: 15pt;
    user-select: none;
}



